n8n_flows/Jurisprudencia_Chatbot_CORRECTED.json
{
  "name": "Chatbot Jurisprudencia",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente especializado en jurisprudencia legal argentina.\n\nTu función es:\n1. Buscar y analizar sentencias judiciales relevantes usando tu herramienta RAG\n2. Responder consultas sobre precedentes, fallos y doctrina judicial\n3. Citar las sentencias encontradas mencionando: carátula, tribunal, fecha\n4. Ser preciso y técnico en terminología legal\n\nREGLAS IMPORTANTES:\n- SIEMPRE usa la herramienta \"Buscar Jurisprudencia\" antes de responder\n- Basá tu respuesta ÚNICAMENTE en las sentencias encontradas\n- Si no encontrás jurisprudencia relevante, indicalo claramente\n- Citá correctamente: \"En autos 'Carátula' (Tribunal, Fecha)...\"\n- NO inventes sentencias ni fallos\n- NO des asesoramiento legal, solo analizá jurisprudencia existente\n- Sé conciso pero completo\n\nFORMATO DE RESPUESTA:\n- Resumen de los fallos encontrados\n- Citas específicas con referencias completas\n- Análisis de la doctrina aplicable\n- Indicación si hay jurisprudencia contradictoria"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [-400, 400],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jurisprudencia-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-800, 400],
      "id": "webhook-chat",
      "name": "Webhook Chat",
      "webhookId": "jurisprudencia-chat-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "query",
              "name": "query",
              "value": "={{ $json.body.query }}",
              "type": "string"
            },
            {
              "id": "user-id",
              "name": "user_id",
              "value": "={{ $json.body.user_id || 'anonymous' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-640, 400],
      "id": "set-query",
      "name": "Set Query"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-640, 640],
      "id": "openai-chat-model",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set Query').item.json.user_id }}"
      },
      "id": "postgres-memory",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [-512, 640],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca sentencias y jurisprudencia relevante en la base de datos. Usa esta herramienta para encontrar precedentes judiciales relacionados con la consulta del usuario.",
        "tableName": "jurisprudencia_vectors",
        "topK": 8,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [-160, 240],
      "id": "pgvector-retriever",
      "name": "Buscar Jurisprudencia",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [-80, 80],
      "id": "embeddings-openai",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "topN": 5
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [32, 80],
      "id": "reranker-cohere",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "YOUR_COHERE_CREDENTIAL_ID",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"respuesta\": \"La respuesta completa del chatbot aquí\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-80, 560],
      "id": "output-parser",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \n  success: true, \n  response: $json.output.respuesta,\n  user_id: $('Set Query').item.json.user_id\n}) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [80, 400]
    },
    {
      "parameters": {
        "content": "## Chatbot de Jurisprudencia\n\nEste chatbot:\n- Busca en jurisprudencia_vectors (NO en documents_pg)\n- Usa Cohere Reranker para mejor precisión\n- Mantiene memoria de conversación por usuario\n- System prompt especializado en derecho\n\nWebhook: POST /jurisprudencia-chat\n{\n  \"query\": \"¿Qué dice la jurisprudencia sobre...\",\n  \"user_id\": \"usuario123\"\n}",
        "height": 400,
        "width": 600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-880, 160],
      "id": "sticky-info",
      "name": "Info Chatbot"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Chat": {
      "main": [[{"node": "Set Query", "type": "main", "index": 0}]]
    },
    "Set Query": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "AI Agent": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Postgres Chat Memory": {
      "ai_memory": [[{"node": "AI Agent", "type": "ai_memory", "index": 0}]]
    },
    "Buscar Jurisprudencia": {
      "ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [[{"node": "Buscar Jurisprudencia", "type": "ai_embedding", "index": 0}]]
    },
    "Reranker Cohere": {
      "ai_reranker": [[{"node": "Buscar Jurisprudencia", "type": "ai_reranker", "index": 0}]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{"node": "AI Agent", "type": "ai_outputParser", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
