n8n_flows/Jurisprudencia_Vectorizer_FINAL.json
{
  "name": "Jurisprudencia Vectorizer",
  "nodes": [
    {
      "parameters": {
        "content": "## Vectorizador de Jurisprudencia\nRecibe sentencias desde Flask, las vectoriza con el mismo sistema que el RAG general pero guarda en jurisprudencia_vectors (tabla separada)",
        "height": 200,
        "width": 600,
        "color": 5
      },
      "id": "d1b4f607-0727-4cc2-9bcb-1e17f3bd036c",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1920, 48]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jurisprudencia-vectorize",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2e9ad8fd-f204-4b0e-af54-78b420a2775e",
      "name": "Webhook Vectorize",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1824, 352],
      "webhookId": "jurisprudencia-vectorize-webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jurisprudencia-delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "056103ac-fcbe-417f-a835-766b1f46ead5",
      "name": "Webhook Delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1824, 656],
      "webhookId": "jurisprudencia-delete-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sentencia-id",
              "name": "sentencia_id",
              "value": "={{ $json.body.sentencia_id }}",
              "type": "string"
            },
            {
              "id": "texto",
              "name": "texto",
              "value": "={{ $json.body.texto }}",
              "type": "string"
            },
            {
              "id": "metadata",
              "name": "metadata",
              "value": "={{ $json.body.metadata || {} }}",
              "type": "object"
            },
            {
              "id": "callback-url",
              "name": "callback_url",
              "value": "={{ $json.body.callback_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0bfffbfd-5818-41e4-b2ac-5611446fa17f",
      "name": "Set Sentencia Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1600, 352]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM jurisprudencia_vectors WHERE sentencia_id = {{ $('Set Sentencia Info').item.json.sentencia_id }}",
        "options": {}
      },
      "id": "4a66db7d-ff5e-41b5-b016-35eee07a58e5",
      "name": "Delete Old Vectors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1376, 352],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text-data",
              "name": "data",
              "value": "={{ $('Set Sentencia Info').item.json.texto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-for-splitter",
      "name": "Prepare for Splitter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1152, 352]
    },
    {
      "parameters": {
        "code": {
          "execute": {
            "code": "const { PromptTemplate } = require('@langchain/core/prompts');\n\n// ============================================================\n// CHUNKER INTELIGENTE POR TEMAS — GPT-4o\n// Analiza el documento completo y divide por temas semánticos\n// Optimizado para carga en PGVector\n// ============================================================\n\n// Buscar contenido en múltiples campos posibles\nlet documentContent = $input.item.json?.data || $input.item.json?.text || $input.item.json?.content || $input.item.json?.body;\n\n// Si hay datos binarios, convertir a string\nif (!documentContent && $input.item.binary) {\n    const binaryKey = Object.keys($input.item.binary)[0];\n    if (binaryKey) {\n        documentContent = Buffer.from($input.item.binary[binaryKey].data, 'base64').toString('utf-8');\n    }\n}\n\nif (!documentContent) {\n    throw new Error('No document found in input. Available fields: ' + JSON.stringify(Object.keys($input.item.json || {})));\n}\n\nconst llm = await this.getInputConnectionData('ai_languageModel', 0);\n\nfunction cleanText(text) {\n    return text.replace(/\\s+/g, ' ').trim();\n}\n\nfunction escapeForTemplate(text) {\n    return text.replace(/\\{/g, '{{').replace(/\\}/g, '}}');\n}\n\nconst fullText = cleanText(documentContent);\n\n// ============================================================\n// CONFIGURACIÓN\n// ============================================================\nconst MAX_CHUNK_SIZE = 1500;    // Máximo caracteres por chunk\nconst MIN_CHUNK_SIZE = 200;     // Mínimo caracteres por chunk\nconst MAX_INPUT_LENGTH = 30000; // Máximo para enviar al LLM de una vez\n\n// ============================================================\n// PASO 1: El LLM analiza el documento y lo divide por temas\n// ============================================================\n\nasync function splitByTopics(text) {\n    // Si el texto es muy corto, devolver como un solo chunk\n    if (text.length <= MAX_CHUNK_SIZE) {\n        return [text];\n    }\n\n    // Si el documento es muy largo, dividirlo en secciones primero\n    // y procesar cada sección por separado\n    const textToProcess = text.length > MAX_INPUT_LENGTH\n        ? text.substring(0, MAX_INPUT_LENGTH)\n        : text;\n\n    const escapedText = escapeForTemplate(textToProcess);\n\n    const promptText = `Eres un experto en organización de información jurídica para bases de datos vectoriales (PGVector).\n\nTu tarea es dividir esta sentencia judicial en bloques temáticos independientes. Cada bloque debe:\n1. Cubrir UN solo tema o concepto jurídico específico\n2. Ser AUTOCONTENIDO: debe entenderse sin necesidad de leer otros bloques\n3. Incluir contexto completo (carátula, tribunal, normativa citada si es relevante)\n4. Tener entre ${MIN_CHUNK_SIZE} y ${MAX_CHUNK_SIZE} caracteres aproximadamente\n5. Si hay secciones legales (VISTOS, CONSIDERANDO, RESUELVE), respetarlas\n\nREGLAS IMPORTANTES:\n- Si varias consideraciones son del MISMO tema (ej: normativa de jubilaciones), UNIFICARLAS en un solo bloque\n- Si una consideración es de un tema DISTINTO, ponerla en un bloque separado\n- Cada bloque debe empezar mencionando el contexto legal\n- NO incluir metadatos como \"Chunk 1\" o \"Sección:\" en el contenido\n- NO repetir información entre bloques\n- NO parafrasear, mantené el texto jurídico original\n\nSENTENCIA JUDICIAL:\n${escapedText}\n\nFORMATO DE RESPUESTA:\nDevolvé ÚNICAMENTE los bloques separados por la línea exacta:\n===CHUNK===\nNo agregues explicaciones, títulos ni numeración. Solo el contenido de cada bloque separado por ===CHUNK===\n\nEjemplo de formato correcto:\nEn autos \"García, María c/ ANSES s/ reajustes varios\" (Expte 12345/2023), la Cámara Federal de la Seguridad Social, Sala II, analiza la procedencia del reajuste por movilidad jubilatoria conforme a la Ley 24.241...\n===CHUNK===\nRespecto de la aplicación del artículo 14 bis de la Constitución Nacional y su vinculación con la movilidad de las prestaciones, el tribunal consideró que...\n===CHUNK===\nPor lo expuesto, SE RESUELVE: 1) Hacer lugar a la demanda incoada...\n\n\nIMPORTANTE: NUNCA parafrasees, reescribas ni agregues información que no esté en el texto original. Mantené el contenido jurídico exacto, solo reorganizalo en bloques temáticos.`;\n\n    const prompt = PromptTemplate.fromTemplate(promptText);\n    const chain = prompt.pipe(llm);\n\n    try {\n        const response = await chain.invoke();\n        const responseText = response.content || response.text || response.toString();\n\n        // Parsear la respuesta del LLM\n        let rawChunks = responseText\n            .split('===CHUNK===')\n            .map(c => c.trim())\n            .filter(c => c.length > 0);\n\n        // Si el LLM no respetó el formato, intentar con doble salto de línea\n        if (rawChunks.length <= 1) {\n            rawChunks = responseText\n                .split(/\\n\\n\\n+/)\n                .map(c => c.trim())\n                .filter(c => c.length > 0);\n        }\n\n        // Si aún así hay un solo chunk, devolver el texto dividido por tamaño\n        if (rawChunks.length <= 1) {\n            console.log('LLM returned single chunk, falling back to size-based split');\n            return fallbackSplit(text);\n        }\n\n        return rawChunks;\n\n    } catch (error) {\n        console.log('LLM topic analysis failed, using fallback:', error.message);\n        return fallbackSplit(text);\n    }\n}\n\n// ============================================================\n// PASO 2: Fallback — División por tamaño si el LLM falla\n// ============================================================\n\nfunction fallbackSplit(text) {\n    const chunks = [];\n    let remaining = text;\n\n    while (remaining.length > 0) {\n        if (remaining.length <= MAX_CHUNK_SIZE) {\n            chunks.push(remaining);\n            break;\n        }\n\n        // Buscar el mejor punto de corte antes del máximo\n        let breakPoint = MAX_CHUNK_SIZE;\n        const searchArea = remaining.substring(Math.floor(MAX_CHUNK_SIZE * 0.7), MAX_CHUNK_SIZE);\n\n        // Buscar fin de oración\n        const sentenceEnd = searchArea.lastIndexOf('. ');\n        if (sentenceEnd !== -1) {\n            breakPoint = Math.floor(MAX_CHUNK_SIZE * 0.7) + sentenceEnd + 2;\n        }\n\n        chunks.push(remaining.substring(0, breakPoint).trim());\n        remaining = remaining.substring(breakPoint).trim();\n    }\n\n    return chunks;\n}\n\n// ============================================================\n// PASO 3: Post-procesamiento — Validar y limpiar chunks\n// ============================================================\n\nasync function processDocument(text) {\n    let rawChunks;\n\n    // Si el documento es muy largo, procesarlo en partes\n    if (text.length > MAX_INPUT_LENGTH) {\n        rawChunks = [];\n        let offset = 0;\n\n        while (offset < text.length) {\n            // Buscar un buen punto de corte para la sección\n            let sectionEnd = offset + MAX_INPUT_LENGTH;\n\n            if (sectionEnd < text.length) {\n                // Intentar cortar en un punto limpio\n                const searchArea = text.substring(\n                    Math.max(offset + MAX_INPUT_LENGTH - 2000, offset),\n                    sectionEnd\n                );\n                const lastPeriod = searchArea.lastIndexOf('. ');\n                if (lastPeriod !== -1) {\n                    sectionEnd = Math.max(offset + MAX_INPUT_LENGTH - 2000, offset) + lastPeriod + 2;\n                }\n            } else {\n                sectionEnd = text.length;\n            }\n\n            const section = text.substring(offset, sectionEnd);\n            const sectionChunks = await splitByTopics(section);\n            rawChunks.push(...sectionChunks);\n\n            offset = sectionEnd;\n        }\n    } else {\n        rawChunks = await splitByTopics(text);\n    }\n\n    // Post-procesamiento: fusionar chunks muy pequeños\n    const finalChunks = [];\n    let buffer = '';\n\n    for (const chunk of rawChunks) {\n        if (buffer.length > 0) {\n            // Si el buffer + chunk caben, fusionar\n            if (buffer.length + chunk.length + 1 <= MAX_CHUNK_SIZE) {\n                buffer += ' ' + chunk;\n                continue;\n            } else {\n                // Guardar el buffer y empezar de nuevo\n                finalChunks.push(buffer);\n                buffer = '';\n            }\n        }\n\n        if (chunk.length < MIN_CHUNK_SIZE) {\n            buffer = chunk;\n        } else if (chunk.length > MAX_CHUNK_SIZE) {\n            // Si un chunk es muy grande, subdividirlo\n            const subChunks = fallbackSplit(chunk);\n            finalChunks.push(...subChunks);\n        } else {\n            finalChunks.push(chunk);\n        }\n    }\n\n    // No olvidar el buffer final\n    if (buffer.length > 0) {\n        if (finalChunks.length > 0 &&\n            finalChunks[finalChunks.length - 1].length + buffer.length + 1 <= MAX_CHUNK_SIZE) {\n            finalChunks[finalChunks.length - 1] += ' ' + buffer;\n        } else {\n            finalChunks.push(buffer);\n        }\n    }\n\n    return finalChunks;\n}\n\n// ============================================================\n// EJECUTAR\n// ============================================================\n\nconst processedChunks = await processDocument(fullText);\n\nconst returnData = processedChunks.map((content, index) => ({\n    json: {\n        content: content,\n        chunk: index + 1,\n        chunk_size: content.length,\n        total_chunks: processedChunks.length\n    }\n}));\n\nreturn returnData;"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "ai_languageModel",
              "maxConnections": 1,
              "required": true
            },
            {
              "type": "main",
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "main"
            }
          ]
        }
      },
      "id": "546ee2de-5fe2-449c-a3da-7f569716425a",
      "name": "LangChain Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [-928, 352]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "options": {}
      },
      "id": "ac9c0071-ddd0-488d-9942-d9a87f6a505f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-992, 560],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "c8f64616-b1d2-4343-a01e-1c7dc678cda8",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [-512, 560],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "sentencia_id",
                "value": "={{ $('Set Sentencia Info').first().json.sentencia_id }}"
              },
              {
                "name": "chunk_number",
                "value": "={{ $json.chunk }}"
              },
              {
                "name": "total_chunks",
                "value": "={{ $json.total_chunks }}"
              }
            ]
          }
        }
      },
      "id": "b9ee2423-6740-412b-9f93-73d0ff521880",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [-704, 560]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f17644ef-6a29-46f3-a5fe-2afb2855e98f",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [-848, 736]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "jurisprudencia_vectors",
        "options": {}
      },
      "id": "6ef2d886-b6ef-4bf3-bf82-e6b000383925",
      "name": "PGVector Store Jurisprudencia",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [-704, 352],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE biblioteca_jurisprudencia SET status = 'ready', updated_at = NOW() WHERE id = {{ $('Set Sentencia Info').first().json.sentencia_id }}",
        "options": {}
      },
      "id": "update-status-ready",
      "name": "Update Status Ready",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-496, 352],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Set Sentencia Info').first().json.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'ready' }) }}",
        "options": {}
      },
      "id": "013f2114-03c5-4bf8-977d-95d3127c53aa",
      "name": "Callback to Flask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-288, 352]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Sentencia vectorizada', sentencia_id: $('Set Sentencia Info').first().json.sentencia_id }) }}",
        "options": {}
      },
      "id": "e6e37fc9-dc53-4484-989e-5957ccabce44",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-64, 352]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "delete-id",
              "name": "sentencia_id",
              "value": "={{ $json.body.sentencia_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a19bbb6f-f1c8-475e-916d-1dac23d2e8f2",
      "name": "Set Delete Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1600, 656]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM jurisprudencia_vectors WHERE sentencia_id = {{ $json.sentencia_id }}",
        "options": {}
      },
      "id": "ad0e587f-c035-48db-b1dd-7e854df4024d",
      "name": "Delete Vectors",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-1376, 656],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Vectores eliminados', sentencia_id: $('Set Delete Info').first().json.sentencia_id }) }}",
        "options": {}
      },
      "id": "c023a395-5024-46aa-9aad-b4f9011fe3ae",
      "name": "Respond Delete Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-1152, 656]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Vectorize": {
      "main": [[{"node": "Set Sentencia Info", "type": "main", "index": 0}]]
    },
    "Set Sentencia Info": {
      "main": [[{"node": "Delete Old Vectors", "type": "main", "index": 0}]]
    },
    "Delete Old Vectors": {
      "main": [[{"node": "Prepare for Splitter", "type": "main", "index": 0}]]
    },
    "Prepare for Splitter": {
      "main": [[{"node": "LangChain Text Splitter", "type": "main", "index": 0}]]
    },
    "LangChain Text Splitter": {
      "main": [[{"node": "PGVector Store Jurisprudencia", "type": "main", "index": 0}]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{"node": "LangChain Text Splitter", "type": "ai_languageModel", "index": 0}]]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [[{"node": "PGVector Store Jurisprudencia", "type": "ai_embedding", "index": 0}]]
    },
    "Default Data Loader": {
      "ai_document": [[{"node": "PGVector Store Jurisprudencia", "type": "ai_document", "index": 0}]]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [[{"node": "Default Data Loader", "type": "ai_textSplitter", "index": 0}]]
    },
    "PGVector Store Jurisprudencia": {
      "main": [[{"node": "Update Status Ready", "type": "main", "index": 0}]]
    },
    "Update Status Ready": {
      "main": [[{"node": "Callback to Flask", "type": "main", "index": 0}]]
    },
    "Callback to Flask": {
      "main": [[{"node": "Respond Success", "type": "main", "index": 0}]]
    },
    "Webhook Delete": {
      "main": [[{"node": "Set Delete Info", "type": "main", "index": 0}]]
    },
    "Set Delete Info": {
      "main": [[{"node": "Delete Vectors", "type": "main", "index": 0}]]
    },
    "Delete Vectors": {
      "main": [[{"node": "Respond Delete Success", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
